$colores:(
    color-primario: #22485B,
    color-secundario: #809D4D,
    texto: white
);

$tamanos-fuente: (           /*font-size*/
    grande: 45px,
    mediano: 30px,
    pequeño: 20px,
    muypequeño: 18px
);


$grosor-tipografia: (      /*font-weight*/
    muygruesa: 700,
    gruesa: 600,
    mediana: 500,
    delgada: 400,
    muydelgada: 350
    
)